{% extends 'base.html' %}
{% block content %}
<h1>{{ patient['name'] }}</h1>
<div class="row">
<div class="col-md-4">
<h4>Dati</h4>
<ul class="list-unstyled">
<li>Email: {{ patient['email'] }}</li>
<li>Telefono: {{ patient['phone'] }}</li>
<li>Cod. Fiscale: {{ patient['fiscal_code'] }}</li>
</ul>
<h4>Misure</h4>
<table class="table table-sm">
<tr><th>Data</th><th>Peso</th><th>Girovita</th><th>Fianchi</th></tr>
{% for v in measures %}
<tr><td>{{v['date']}}</td><td>{{v['weight']}}</td><td>{{v['waist']}}</td><td>{{v['hip']}}</td></tr>
{% endfor %}
</table>
</div>
<div class="col-md-8">
<h4>Visite</h4>
<table class="table table-sm">
<tr><th>Data</th></tr>
{% for v in visits %}
<tr>
<td><a href="/patient/{{patient['id']}}?visit={{v['id']}}">{{v['date']}}</a></td>
</tr>
{% endfor %}
</table>
<h4>Piano Nutrizionale</h4>
{% if goals %}
<ul class="list-unstyled">
  <li>Calorie: {{ goals['calories'] }}</li>
  <li>CHO %: {{ goals['cho_percent'] }}</li>
  <li>PRO %: {{ goals['pro_percent'] }}</li>
  <li>FAT %: {{ goals['fat_percent'] }}</li>
</ul>
{% else %}
<p>Nessun obiettivo impostato</p>
{% endif %}
<a class="btn btn-sm btn-primary" href="/patient/{{patient['id']}}/meal_plan">Apri piano</a>
<a class="btn btn-sm btn-secondary" href="/patient/{{patient['id']}}/goals">Obiettivi</a>
</div>
</div>
{% if visit %}
<div class="row mt-4">
<div class="col">
<h4>Dettaglio visita {{ visit['date'] }}</h4>
{% if edit %}
  <form method="post" action="/patient/{{patient['id']}}/visit/{{visit['id']}}/edit">
  <textarea name="notes" class="form-control" rows="10">{{ visit['notes'] }}</textarea>
  <button class="btn btn-primary mt-2" type="submit">Aggiorna</button>
  </form>
{% else %}
  <div class="border p-2" style="white-space:pre-wrap;">{{ visit['notes']|safe }}</div>
  <a class="btn btn-sm btn-secondary mt-2" href="/patient/{{patient['id']}}?visit={{visit['id']}}&edit=1">Modifica note</a>
{% endif %}
</div>
</div>
{% endif %}
<a class="btn btn-secondary mt-2" href="/">Indietro</a>
{% endblock %}
