{% extends 'base.html' %}
{% block content %}
<h1 class="mb-3">{{ patient['name'] }} {{ patient['surname'] }}</h1>
<div class="row">
<div class="col-md-8">
<div class="card p-3 mb-3">
<h4>Dati</h4>
<ul class="list-unstyled">
<li>Email: {{ patient['email'] }}</li>
<li>Telefono: {{ patient['phone'] }}</li>
<li>Cod. Fiscale: {{ patient['fiscal_code'] }}</li>
</ul>
<a class="btn btn-sm btn-secondary mb-2" href="/patient/{{patient['id']}}/attachments">Allegati</a>
<h4>Misure</h4>
<table class="table table-sm">
<tr><th>Data</th><th>Peso</th><th>Girovita</th><th>Fianchi</th><th>Altezza</th><th>Ombelico</th><th>Altre</th></tr>
{% for v in measures %}
<tr>
<td>{{v['date']}}</td>
<td>{{v['weight']}}</td>
<td>{{v['waist']}}</td>
<td>{{v['hip']}}</td>
<td>{{v['height']}}</td>
<td>{{v['navel']}}</td>
<td>{{v['custom']}}</td>
</tr>
{% endfor %}
</table>
</div>
</div>
<div class="col-md-4">
<div class="card p-3 mb-3">
  <h4>Piano Nutrizionale</h4>
{% if goals %}
<ul class="list-unstyled">
  <li>Calorie: {{ goals['calories'] }}</li>
  <li>CHO %: {{ goals['cho_percent'] }}</li>
  <li>PRO %: {{ goals['pro_percent'] }}</li>
  <li>FAT %: {{ goals['fat_percent'] }}</li>
</ul>
{% else %}
<p>Nessun obiettivo impostato</p>
{% endif %}
<a class="btn btn-sm btn-primary" href="/patient/{{patient['id']}}/meal_plan">Apri piano</a>
<a class="btn btn-sm btn-secondary" href="/patient/{{patient['id']}}/goals">Obiettivi</a>
<h4>Visite</h4>
<table class="table table-sm">
<tr><th>Data</th><th></th></tr>
{% for v in visits %}
<tr>
<td><a href="/patient/{{patient['id']}}?visit={{v['id']}}">{{v['date']}}</a></td>
<td>
  <form method="post" action="{{ url_for('delete_visit', vid=v['id']) }}" style="display:inline">
    <button class="btn btn-sm btn-danger">Elimina</button>
  </form>
</td>
</tr>
{% endfor %}
</table>
</div>
</div>
</div>
{% if visit %}
<div class="row mt-4">
<div class="col">
<h4>Dettaglio visita {{ visit['date'] }}</h4>
  <div class="border p-2" style="white-space:pre-wrap;word-break: break-word;">{{ visit['notes']|safe }}</div>
  <a class="btn btn-sm btn-secondary mt-2" href="/patient/{{patient['id']}}/visit/{{visit['id']}}/edit">Modifica visita</a>
</div>
</div>
{% endif %}
<a class="btn btn-sm btn-primary mt-2" href="/patient/{{patient['id']}}/edit">Modifica dati</a>
<a class="btn btn-sm btn-danger mt-2" href="/patient/{{patient['id']}}/delete">Elimina paziente</a>
<a class="btn btn-secondary mt-2" href="/">Indietro</a>
{% endblock %}
